<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <style>

        .chessboard {
            display: grid;
            grid-template-columns: repeat(8, minmax(0, 1fr));
            grid-template-rows: repeat(8, minmax(0, 1fr));
            width: 700px;
            height: 700px;
            transform: rotate(0deg);
        }

        .piece.white {
            color: white;
            filter: drop-shadow(0 0 2px rgba(0, 0, 0, 1));
        }

        .piece.black {
            color: black;
        }

        .flipped {
            transform: rotate(180deg);
        }

        .square {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .square.light {
            background-color: #f0d9b5;
            /* background-color: white; */
        }

        .square.dark {
            background-color: #b58863;
            /* background-color: black; */
        }

        .piece {
            font-size: 36px;
            cursor: pointer;
        }

        .piece.draggable {
            cursor: grab;
        }

        .dragging {
            opacity: 0.5;
        }

        /* Rotate pieces for black player */
        .flipped .piece {
            transform: rotate(180deg);
        }
    </style>
</head>
<body>
    <div class="w-full h-screen flex flex-col items-center justify-center bg-zinc-900">
        <h1 id="loading" class="text-white text-xl mb-4"></h1>
        <h2 id="status" class="text-white mb-2 text-xl"></h2>
        <h1 id="myColor" class="mb-4 text-white"></h1>
        <div class="chessboard bg-red-500 w-128 h-128"></div>
        <h1 id="turn" class="mt-4 text-white"></h1>
        
    </div>
    <script src="https://cdn.socket.io/4.8.1/socket.io.min.js">
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.3/chess.min.js"></script>

    <script src="/javascripts/chessgame.js"></script>
</body>
</html>